<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShoppingListCheckOff</title>
  <script src="./angular.min.js"></script>
  <script src="./app.js"></script>
</head>
<body>
  <h1>ShoppingListCheckOff</h1>
  <div ng-controller="ToBuyController as toBuy">
    <h3>To Buy List</h3>
    <li ng-repeat="item in toBuy.toBuyList">
        Buy {{item.quantity}} Of {{item.name}} 
      <button ng-click="toBuy.addToBought($index)">Bought</button>
    </li>
  </div>
  <div ng-controller="AlreadyBoughtController as bought">
    <h3>already Bought List</h3>
    <li ng-repeat="item in bought.boughtList">
      Bought {{item.quantity}} Of {{item.name}} 
    </li>
    <p ng-if="!bought.boughtListState"><b>Bought list Empty</b></p>
  </div>
</body>
</html>